Data Structures and Data Types

In [175]:
#   Variables and basic data types (string, int, float, bool).
name = "John"           #   String
age = 25                #   Integer
height = 5.9            #   Float
is_student = False      #   Boolean

In [176]:
#   Lists: An ordered collection.
fruits = ["apple", "banana", "orange"]
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [177]:
numbers[0]=900
print(numbers)

[900, 2, 3, 4, 5]

In [178]:
#   Dictionaries: A collection of key-value pairs.
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person['name'])

Alice

In [179]:
#   Tuples: Immutable ordered sequences.
coordinates = (10, 20)
print(coordinates[0])

10

In [180]:
#   Showing immutablility of tuples
# coordinates[0]=200
# print(coordinates)

In [181]:
#   Sets: Unordered collections of unique elements.
# Creating sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print("Set 1:", set1)
print("Set 2:", set2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}

In [182]:
# Testing membership in sets
2 in set1

True

In [183]:
# Iterating over a set
for element in set1:
    print(element)

1
2
3
4
5

In [184]:
# Union of sets
union_set = set1.union(set2)
print("Union of Set 1 and Set 2:", union_set)

Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7}

In [185]:
# Intersection of sets
intersection_set = set1.intersection(set2)
print("Intersection of Set 1 and Set 2:", intersection_set)

Intersection of Set 1 and Set 2: {3, 4, 5}

In [186]:
# Adding an element to a set
set1.add(6)
print("Set 1 after adding element 6:", set1)

Set 1 after adding element 6: {1, 2, 3, 4, 5, 6}

In [187]:
# Removing an element from a set
set1.remove(3)
print("Set 1 after removing element 3:", set1)

Set 1 after removing element 3: {1, 2, 4, 5, 6}

In [188]:
# Clearing a set
set1.clear()
print("Set 1 after clearing:", set1)

Set 1 after clearing: set()